<h1>Agregar Superhéroe</h1>

<form action="/api/superheroes/nuevo" method="post">
    <input type="text" name="nombreSuperheroe" placeholder="Nombre Superhéroe">

    <input type="text" name="nombreReal" placeholder="Nombre Real">

    <input type="text" name="edad" placeholder="Edad">

    <input type="text" name="poderes" placeholder="Poderes">

    <button type="submit">Crear</button>
</form>